body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    margin: 0;
}

.report-container {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 80%;
    max-width: 800px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #aa41e2;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9rem;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #dbacef;
    transition: 0.2s;
}

.purple-msg {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
    color: rgb(206, 94, 206);
    font-weight: bold;
}